.Calendar {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 0;
  overflow: hidden;
  align-items: stretch;
}
.Calendar .left-content {
  display: flex;
  flex: 3;
  padding: 1rem;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
  transition: flex 0.3s ease-in-out;
}

.Calendar .left-content.summary-open {
  flex: 1.5;
}

.Calendar .left-content.summary-open .FrontCalendar_container {
  min-height: 450px;
}

.under-content {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* flex-grow는 여기서 제거 */
  border: 1px solid black;
}

/* under-content가 열렸을 때 */
.under-content.open {
  max-height: 300px;
  opacity: 1;
  pointer-events: auto;
}

.Calendar .right-content {
  padding: 1rem;
  position: relative;
  width: 0;
  flex-shrink: 0;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    width 0.3s ease-in-out;
  overflow: hidden;
}

.Calendar .right-content.open {
  display: flex;
  transform: translateX(0);
  width: 30%;
  opacity: 1;
  pointer-events: auto;
  /* height: 100%; <- 추가할 필요 없음 */
}

/* 기타 React Big Calendar 관련 스타일 */
.rbc-day-bg {
  cursor: pointer;
}
.rbc-header:nth-child(1) {
  color: #f56868; /* 일요일 (Sun) */
}
.rbc-header:nth-child(7) {
  color: #6868fc; /* 토요일 (Sat) */
}
.rbc-month-row .rbc-date-cell:nth-child(1) .rbc-button-link {
  color: #f56868 !important; /* 일요일 숫자 */
}
.rbc-month-row .rbc-date-cell:nth-child(7) .rbc-button-link {
  color: #6868fc !important; /* 토요일 숫자 */
}
