.Calendar {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 0;
  overflow: hidden;
}

/* left-content 기본 스타일 (Summary가 열려있을 때) */
.Calendar .left-content {
  display: flex;
  flex: 2; /* 이 값이 Summary가 열려있을 때의 비율 */
  padding: 1rem;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
  transition: flex 0.3s ease-in-out; /* flex 속성 변화를 위한 transition 추가 */
}

.Calendar .left-content.summary-closed {
  flex: 3;
}
.Calendar .left-content > div:first-child {
  flex-shrink: 0;
  min-height: 300px;
  flex-grow: 1;
}

.under-content {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  max-height: 0;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  border: 1px solid black;
}

.under-content.open {
  max-height: 100%;
  transform: translateY(0); /* <-- 원래 위치로 되돌림 */
  opacity: 1;
  pointer-events: auto; /* 클릭 이벤트 활성화 */
  flex-grow: 1;
}

.Calendar .right-content {
  position: relative;
  width: 0; /* 기본적으로 닫힌 상태를 위한 너비 */
  flex-shrink: 0;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    width 0.3s ease-in-out;
  overflow: hidden;
}

.Calendar .right-content.open {
  transform: translateX(0);
  width: 30%; /* 열렸을 때의 너비 */
  opacity: 1;
  pointer-events: auto;
}
