.New {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}

.header_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.header_content img {
  width: 125px;
  height: 85px;
}

.content_wrapper {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  flex-grow: unset;
}

.title_content {
  /* margin-top: 10px; */
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.date_content {
  margin-left: auto; /* 오른쪽 끝으로 밀기 */
  margin-bottom: 20px;
}

.New > .tag_content {
  background-color: #529aec1a;
  border-radius: 10px;
  /* box-sizing: border-box; */
  width: 100%;
}

/* 글 작성 영역: 화면 여유 공간을 모두 사용 */
.New > .write_content {
  box-sizing: border-box;
  border-radius: 8px;
  resize: none;
  font-size: medium;
  min-height: 0; /* flex-item overflow 방지 */
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 버튼 */
.New > .button_content {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

/* 미리보기 */
.markdown_preview {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fafafa;
  border-radius: 8px;
  overflow-y: auto;
  min-height: 0;
  height: 280px;
}
