#moveToTopButton {
  position: fixed;
  bottom: 5%;
  right: 1%;
  width: 50px;
  height: 50px;
  background-color: rgba(179, 178, 178, 0.082);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
img {
  width: 20px;
  height: 20px;
}

@media (min-width: 1400px) {
  body {
    width: 60vw;
    margin: 0 auto;
  }
  #moveToTopButton {
    bottom: 5%;
    right: 13%;
  }
}
.btn_wrap {
  padding: 20px 5px 0 0;
  width: 100%;
  height: 70px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 10px;
}
.btn_wrapp {
  display: flex;
  gap: 5px;
}
.back_button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0;
}
.back_button img {
  width: 30px;
  height: 30px;
}

.edit_btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: none;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.edit_btn img {
  width: 25px;
  height: 23px;
  padding: 5px 0 0 3px;
}

.delete_button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 4px 1px 0 0;
}
.delete_button img {
  width: 25px;
  height: 25px;
}

.Read {
  padding: 0 10px;
}

.read_title_content {
  padding: 10px;
  font-weight: bolder;
  font-size: 45px;
}
.read_createDate {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
.read_tag_content {
  padding: 0 10px;
}

.read_content {
  border-radius: 10px;
  /* padding: 10px 20px; */
  margin-top: 10px;
  flex-grow: 1;
  white-space: pre-wrap; /* 줄바꿈과 공백 유지 */
  word-wrap: break-word; /* 너무 긴 단어도 줄바꿈 */
  overflow-wrap: break-word;
  overflow-y: auto;
  line-height: 1.5; /* 줄 간격 설정 */
}

h1 {
  overflow: auto;
  font-size: xx-large;
}

.read_createDate {
  font-weight: 300;
}

.read_content {
  margin-bottom: 3%;
}

.read_tag {
  display: inline-block;
  background-color: #fcf7ce;
  color: #333;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.read_tag:hover {
  font-weight: bolder;
  cursor: pointer;
}
