.Read {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.read_title_content {
  padding: 10px;
  font-weight: bolder;
  font-size: xx-large;
}

.read_tag_content {
  padding: 0 10px;
}

.read_content {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  flex-grow: 1;
  white-space: pre-wrap; /* 줄바꿈과 공백 유지 */
  word-wrap: break-word; /* 너무 긴 단어도 줄바꿈 */
  overflow-wrap: break-word;
  overflow-y: auto;
  line-height: 1.5; /* 줄 간격 설정 */
}
h1{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read_createDate{
  margin-bottom: 3%;
  font-weight: 300;
}

.read_content{
  margin-bottom: 3%;
}

.read_tag{
  display: inline-block;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.read_tag:hover {
  font-weight: bolder;
  cursor: pointer;
}