
.tag_all{
  display: flex;
  flex-direction: column;
}
.tags:hover{
  font-weight: bolder;
  cursor: pointer;
}
.tag_wrapper {
  position: fixed; 
  top: 100px;
  left: 10%; 
  width: 200px; 
  height: 70%;
  padding: 20px; 
  box-sizing: border-box; 
  border: 1px solid black;
  overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  text-overflow: ellipsis;
}
.tag_wrapper::-webkit-scrollbar {
  display: none;
}
/* .tag_header{
  text-align: center;
  font-weight: bold;
} */
.tags{
  overflow: hidden;
  text-overflow: ellipsis;
}