.post_item {
  display: flex;
  align-items: center;
  width: 70%;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.button_delete {
  cursor: pointer;
}
.content_wrapper {
  flex-grow: 1;
  padding-right: 10px;
}

.content_wrapper:hover {
  cursor: pointer;
}

.content_header {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content_body {
  margin-bottom: 10px;
  padding: 0;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content_date {
  font-weight: 300;
}

.tag:hover {
  font-weight: bolder;
  cursor: pointer;
}

.tag {
  display: inline-block;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="checkbox"] {
  margin-left: 15px;
  flex-shrink: 0;
  transform: scale(1.5);
}
