.BackBoardMain {
  padding: 9px 8px;
  box-sizing: border-box;
  margin: 0 auto;
  /* overflow: hidden; */
}
.header_wrapper {
  display: flex;
  margin-bottom: 20px;
}
#moveToTopButton {
  position: fixed;
  bottom: 5%;
  right: 15%;
  width: 60px;
  height: 60px;
  background-color: rgba(160, 160, 160, 0.082);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
img {
  width: 20px;
  height: 20px;
}
.button_home {
  background: none;
  border: none;
  cursor: pointer;
}

.button_home > img {
  width: 130px;
  height: 90px;
}

.list_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  width: 100%;
  max-width: 300px;
  height: 30px;
  margin: 20px 12px 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.search:focus-within {
  border: 1px solid black;
}

.search_input {
  flex-grow: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

.search_input::placeholder {
  color: #aaa;
}

.tag_header_wrapper {
  font-size: xx-large;
  font-weight: bolder;
  background-color: #fcf7ce;
  color: #333;
  border-radius: 25px;
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 5%;
  max-width: 200px;
  min-width: 80px;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.tag_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

.close_button {
  font-size: xx-large;
  color: gray;
  cursor: pointer;
  flex-shrink: 0;
  border: none;
  background: none;
  padding: 0;
}
.close_button:hover {
  font-weight: bolder;
  color: black;
}
