.buttons{
  position: absolute;
  top: 5%;
}
.contents_wrapper{
  display: flex;
  flex-direction: column;
}
.tags:hover{
  font-weight: bolder;
  cursor: pointer;
}
.tag_wrapper {
  position: fixed; 
  top: 20%;
  right: 10%; 
  width: 200px; 
  height: 60%;
  padding: 20px; 
  box-sizing: border-box; 
  border: 1px solid black;
  overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  text-overflow: ellipsis;
}
.tag_wrapper::-webkit-scrollbar {
  display: none;
}

.tags{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}