.Button {
  border: none;
  margin: 10px;
  padding: 10px;
}

.Button .Create {
  color: rgb(255, 0, 0);
  cursor: pointer;
}
.Button .Editer {
  color: rgb(131, 29, 226);
  cursor: pointer;
}
.Button .Delete {
  color: rgb(92, 139, 17);
  cursor: pointer;
}
.Button .Theme {
  color: rgb(30, 153, 122);
  cursor: pointer;
}
.Button .ListToggle {
  color: black;
  cursor: pointer;
}
.Button .ScreenChange {
  color: black;
  cursor: pointer;
}
.Button .Back {
  color: black;
  cursor: pointer;
}

/*버튼 스타일 참고용
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.open-modal-button:hover {
  background-color: #218838;
  transform: scale(1.05); /* 약간 확대 */
