.Button {
  border: none;
  padding: 20px 0;
}

.Button button {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.Button .Create {
  background-color: #f6eaf0;
}
.Button .Editer {
  color: rgb(131, 29, 226);
}
.Button .Delete {
  color: rgb(92, 139, 17);
}
.Button .Theme {
  color: rgb(30, 153, 122);
}
.Button .ListToggle {
  color: black;
}
.Button .ScreenChange {
  color: black;
}
.Button .Back {
  color: black;
}

.Button .Cancel {
  background: none;
  width: 50px;
  height: 45px;
  font-size: xx-large;
  color: #b8b8b8;
}
.Button .Cancel:hover {
  background-color: red;
  color: white;
}

/*버튼 스타일 참고용
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.open-modal-button:hover {
  background-color: #218838;
  transform: scale(1.05); /* 약간 확대 */
