/* .rbc-date-cell.sun + .button-button-link {
  color: red !important;
}

.rbc-date-cell.sat + .button-button-link {
  color: blue !important;
} */

/* .rbc-button-link {
  color: red !important;
} */
