.FrontCalendar {
  border: 1px solid #000000;
  height: 600px;
  margin-bottom: 20px;
}

.rbc-header:nth-child(1) {
  color: red; /* 일요일 (Sun) */
}
.rbc-header:nth-child(7) {
  color: blue; /* 토요일 (Sat) */
}
