.ProjectSchedule {
  border-bottom: 1px solid var(--border-bg-color);
  display: flex;
  flex-direction: column;
  background-color: var(--sechdule-default-bg);
  padding: 7px;
}
.ProjectSchedule_title {
  cursor: pointer;
  font-weight: bold;
}
.ProjectSchedule_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProjectSchedule_contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
