.ScheduleList {
  width: 100%;
  height: 100%; /* 770px 였음*/
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 요약창 그림자 */
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
}
.ScheduleList_Wirte {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  background-color: var(--sechdule-default-bg);
  border-radius: 5px 5px 0px 0px;
}
.ScheduleList_Contents {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  /* overflow: hidden; */
}
.Todo-content.open::-webkit-scrollbar {
  width: 1px;
}
.ScheduleList_Todo {
  background-color: var(--sub-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}
.Button_wrapper {
  display: flex;
}
.Todo-content {
  flex-grow: 0;
  height: 0;
  overflow: hidden;
  transition: flex-grow 0.3s ease-out, padding 0.3s ease-out;
  padding-top: 0;
  padding-bottom: 0;
}

.Todo-content.open {
  flex-grow: 1;
  overflow-y: auto;
}
