.ScheduleList {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ScheduleList_Wirte {
  display: flex;
  border: 1px solid #000;
  flex-shrink: 0;
}
.ScheduleList_Contents {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  border: 1px solid #000;
  /* overflow: hidden; */
}
.ScheduleList_Todo {
  border: 1px solid #000;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
}

.Todo-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding-top: 0;
  padding-bottom: 0;
}

.Todo-content.open {
  max-height: 280px;
  overflow-y: auto;
}
