.Summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 0;
}

.Summary_Header {
  display: flex;
}

.Summary_Contents {
  padding: 5px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  min-width: 0;
}
