.Summary {
  border: 1px solid #bb1c1c;
  flex-grow: 1;
  min-height: 200px;
}
.under-content {
  position: relative;
 
  flex-shrink: 0;
  

  transform: translateY(100%); 
  opacity: 0; 
  pointer-events: none; 


  transition: transform 0.3s ease-in-out, 
              opacity 0.3s ease-in-out, 
              width 0.3s ease-in-out;
  overflow: hidden; 
}

.under-content.open {
  transform: translateY(0);

  opacity: 1; 
  pointer-events: auto; 
}
.Summary_Header {
  display: flex;
}

.Summary_Contents {
  padding: 5px;
}
